body {
    font-family: Arial, sans-serif;
}

#form {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.text {
    padding: 10px;
}

input[name="box"] {
    width: 90%;
    padding: 5px;
    margin: 10px 0;
}

td {
    padding: 10px;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

